﻿<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>Email Newsletter</title>

</head>
<body style="font-family: Helvetica, Arial, sans-serif ; font-size: 12px">
    <table>
        <tbody>
            <tr>
                <td style="width: 300px;" class="">
                    <p>
                        <span style="color:#696969;font-family:arial,helvetica,sans-serif;font-size:12px;">
                            <span style="font-family:arial,helvetica,sans-serif;font-size:12px;">
                                Hello,
                                <br>
                                <br>
                                Your account&nbsp;{!Account.Name}
                            </span>
                            <span style="color:#696969;font-family:arial,helvetica,sans-serif;font-size:12px;">
                                &nbsp;has now moved to the training audit stage for SOAR which needs to be completed by tomorrow.&nbsp;
                                <br>
                                <br>
                                Can you please contact and provide support to help them complete their training audit in time?.&nbsp;
                                <br>
                                <br>
                                <strong>Do not reply to this message as it is auto generated.&nbsp;</strong>
                            </span>
                        </span>
                    </p>

                    <p>
                        <span style="color:#696969;">
                            <span style="font-family:arial,helvetica,sans-serif;font-size:12px;">
                                <span style="font-family:arial,helvetica,sans-serif;font-size:12px;">
                                    Kind regards, &nbsp;
                                </span>
                            </span>
                        </span>
                    </p>
                </td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class=""><span style="color:#006699;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>The Risk Team</strong>&nbsp;</span></span></span></td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class=""><strong><span style="color:#006699;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">T:</span></span></span></strong><span style="color:#696969;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"> 01244 566845</span></span></span></td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class=""><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"><span style="color:#006699;"><strong>E:</strong></span> </span></span><a href="mailto:riskandaudit@nextgearcapital.co.uk">riskandaudit@nextgearcapital.co.uk</a></td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class="">&nbsp;</td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class="">&nbsp;<a href="https://nextgearcapital.co.uk/"><img alt="NextGear Capital" border="0" height="50" src="https://c.cs84.content.force.com/servlet/servlet.ImageServer?id=0155E000000DmYi&oid=00D5E0000008ieB&lastMod=1499173937000" style="width: 200px; border-width: 0px; border-style: solid; height: 50px;" width="200"></a></td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class=""><img alt="" border="0" height="33" src="https://c.cs84.content.force.com/servlet/servlet.ImageServer?id=0155E000000DmYn&oid=00D5E0000008ieB&lastMod=1499174003000" style="width: 647px; height: 33px; border-width: 0px; border-style: solid;" width="647"></td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class="">
                    <p>
                        <span style="color:#696969;">
                            <span style="font-family: Arial;">
                                <font size="1">
                                    NextGear House, Kingsfield Court, Chester Business Park Chester, CH4 9RE<br>
                                    NextGear Capital UK Ltd is registered in England and Wales. Registered Company Number 08696123. If you received this email in error please delete it. &nbsp;Thank you.
                                </font>
                            </span>
                        </span>
                    </p>
                </td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class=""><span style="color:#696969;"><span style="font-family: Arial;"><font size="1">We may monitor and record calls, emails and SMS messages between you and us for quality control, training purposes and to keep a record of what was said. Stocking Plan is subject to status, terms and conditions.&nbsp;</font></span></span></td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class=""><span style="font-family: Arial;"><font size="1"><a href="%%view_online%%">View in Browser</a></font></span></td>
                <td class="">&nbsp;</td>
            </tr>
            <tr>
                <td class=""><span style="font-family: Arial;"><font size="1"><span style="color:#696969;">If you would like to</span> <a href="%%email_preference_center_130%%">Review your Preferences</a>&nbsp;<span style="color:#696969;">please follow our link. </span></font></span></td>
                <td class="">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</body>