html, body {
    height: 100%;
}
#container {
    height: 100%;
}
body {
    position: relative;
    width: 100%;
    font-family: 'Raleway', sans-serif !important;
    color: #CCFF66 !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 1.5em !important;
}
.logorow {
    position: relative;
    width: 90%;
    height: 12%;
    display: inline-block;
    background: white;
    text-align: center;
}
.inputrow {
    position: relative;
    width: 90%;
    height: 20%;
    display: inline-block;
    background-color: white;
    color: black;
}
.chargesrow {
    position: relative;
    width: 90%;
    height: 40%;
    display: inline-block;
    background: white;
}
.feesrow {
    position: relative;
    width: 90%;
    height: 70%;
    display: inline-block;
    background: white;
}
.fundingrow {
    position: relative;
    width: 90%;
    height: 10%;
    display: inline-block;
    background: white;
}
.paymentsrow {
    position: relative;
    width: 90%;
    height: 10%;
    display: inline-block;
    background: white;
}
.smallblankrow {
    position: relative;
    width: 90%;
    height: 3%;
    display: inline-block;
    background: white;
}
.bigblankrow {
    position: relative;
    width: 90%;
    height: 16%;
    display: inline-block;
    background: white;
}
#header {
    padding: 30px !important;
}
.center { /* Center and condense form */
    margin: 0 auto;
    height: 50%;
    width: 70%;
}
#submit-button {
    text-align: center;
}
.btn {
    background-color: #C2C2FF !important;
}

.btn-default:active {
    background-color: #A3A3FF !important;
}
.auction {
   border:thin; 
   border-style:solid; 
   border-color:#b3b3b3; 
   height:100%; 
   width:100%;
   font: 22px raleway, sans-serif !important;
}
.paymenttable {
    height: 100%;
    width: 100%;
    font: 22px raleway, sans-serif !important;
}
.inputtable {
    width: 100%;
    border-style: none;
    font: 25px raleway, sans-serif !important;
}
.inputsubrow {
    border: none;
    color: #FFFFFF;
    width:100%;
    height:20%;
}
.smallinputrow {
    border: none;
    color: #FFFFFF;
    width: 100%;
    height:3px;
}
.paymentline {
    border: 1px;
    border-style: solid;
    border-color: black;
    color: #FFFFFF;
    height: 30%;
}
.paymentsubrow {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black
}
.feessubrow {
    height: 10%;
    background-color: #003466;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.chargessubrow {
    background-color: #B7DB4D;
    color: white;
}
.fundingline {
    border:none;
    color:#FFFFFF;
    width:100%;
    height:48%;
}
.button {
    color:white; 
    background-color:#003466;
    font: 25px raleway, sans-serif, !important;
}

h4 {
    margin-top: 25px;
}
.row .row {
  height:100%;
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  height: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
